body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.badge {
  margin-left: auto;
}

.convocatoria-imagen {
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 200px;  
  object-fit: cover;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#root {
  min-height: 100%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 15px;
}

.navbar-logo {
  width: 50px;  
  height: auto;  
}

.list-padding {
  padding-bottom: 10rem;
}